/*
 * Homework 3
 * BarChart.css source code
 *
 * Author: Evan Lee
 * Version: 1.0
 */
svg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/* .tooltip {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } */
  .tooltip {
    position: absolute;
    z-index: 1000;
}

.tooltip-container {
    position: relative;
}